@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my test !</h1>
    <p>You can practice the website like testing CRUD, ModelBinding, LINQ etc...</p>
</div>